Source: libressl
Section: libs
Priority: optional
Maintainer: Joachim Bauch <bauch@struktur.de>
Build-Depends:
 autoconf,
 automake,
 debhelper (>= 9~),
 dh-autoreconf,
 libtool,
 quilt
Standards-Version: 3.9.3
Homepage: http://www.libressl.org/
Vcs-Git: http://git.intranet.struktur.de/debian/libressl.git
Vcs-Browser: http://git.intranet.struktur.de/debian/libressl

Package: libressl-crypto-32
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends}
Depends:
 ${misc:Depends},
 ${shlibs:Depends}
Conflicts:
 libressl-0
Description: SSL library, forked from OpenSSL - crypto library
 LibreSSL strives to maintain API compatibility with OpenSSL, but
 do away with all the cruft.
 .
 This package provides the "-crypto" library.

Package: libressl-ssl-32
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends}
Depends:
 ${misc:Depends},
 ${shlibs:Depends}
Conflicts:
 libressl-0
Description: SSL library, forked from OpenSSL - SSL library
 LibreSSL strives to maintain API compatibility with OpenSSL, but
 do away with all the cruft.
 .
 This package provides the "-ssl" library.

Package: libressl-tls-3
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends}
Depends:
 ${misc:Depends},
 ${shlibs:Depends}
Conflicts:
 libressl-0
Description: SSL library, forked from OpenSSL - TLS library
 LibreSSL strives to maintain API compatibility with OpenSSL, but
 do away with all the cruft.
 .
 This package provides the "-tls" library.

Package: libressl-apps
Section: utils
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 ${shlibs:Depends}
Description: SSL library, forked from OpenSSL - applications
 LibreSSL strives to maintain API compatibility with OpenSSL, but
 do away with all the cruft.
 .
 The commandline tools that use libressl are provided by this package.

Package: libressl-dev
Section: libdevel
Multi-Arch: same
Architecture: any
Depends:
 ${package:libcrypto} (= ${binary:Version}),
 ${package:libssl} (= ${binary:Version}),
 ${package:libtls} (= ${binary:Version}),
 ${misc:Depends}
Description: SSL library, forked from OpenSSL - development files
 LibreSSL strives to maintain API compatibility with OpenSSL, but
 do away with all the cruft.
 .
 The development headers for compiling programs that use libressl
 are provided by this package.

Package: libressl-doc
Section: doc
Architecture: all
Depends:
 ${misc:Depends}
Conflicts:
 libssl-doc
Description: SSL library, forked from OpenSSL - documentation
 LibreSSL strives to maintain API compatibility with OpenSSL, but
 do away with all the cruft.
 .
 The documentation for libressl is provided by this package.

Package: libressl-apps-dbg
Section: debug
Priority: extra
Architecture: any
Multi-Arch: same
Depends:
 libressl-apps (= ${binary:Version}),
 ${misc:Depends}
Description: SSL library, forked from OpenSSL - applications debug symbols
 LibreSSL strives to maintain API compatibility with OpenSSL, but
 do away with all the cruft.
 .
 The debugging symbols for tracking down bugs in applications that
 use libressl-apps are provided by this package.

Package: libressl-crypto-dbg
Section: debug
Priority: extra
Architecture: any
Multi-Arch: same
Depends:
 ${package:libcrypto} (= ${binary:Version}),
 ${misc:Depends}
Description: SSL library, forked from OpenSSL - crypto debug symbols
 LibreSSL strives to maintain API compatibility with OpenSSL, but
 do away with all the cruft.
 .
 The debugging symbols for tracking down bugs in applications that
 use libressl-crypto are provided by this package.

Package: libressl-ssl-dbg
Section: debug
Priority: extra
Architecture: any
Multi-Arch: same
Depends:
 ${package:libssl} (= ${binary:Version}),
 ${misc:Depends}
Description: SSL library, forked from OpenSSL - SSL debug symbols
 LibreSSL strives to maintain API compatibility with OpenSSL, but
 do away with all the cruft.
 .
 The debugging symbols for tracking down bugs in applications that
 use libressl-ssl are provided by this package.

Package: libressl-tls-dbg
Section: debug
Priority: extra
Architecture: any
Multi-Arch: same
Depends:
 ${package:libtls} (= ${binary:Version}),
 ${misc:Depends}
Description: SSL library, forked from OpenSSL - TLS debug symbols
 LibreSSL strives to maintain API compatibility with OpenSSL, but
 do away with all the cruft.
 .
 The debugging symbols for tracking down bugs in applications that
 use libressl-tls are provided by this package.
