#!/usr/bin/make -f
#export DH_VERBOSE=1

LIBCRYPTO_VERSION := $(shell cat crypto/VERSION | cut -f 1 -d ':' | tr -d '\n')
LIBSSL_VERSION := $(shell cat ssl/VERSION | cut -f 1 -d ':' | tr -d '\n')
LIBTLS_VERSION := $(shell cat tls/VERSION | cut -f 1 -d ':' | tr -d '\n')

SUBSTVARS = \
	-Vpackage:libcrypto="libressl-rng-crypto-$(LIBCRYPTO_VERSION)" \
	-Vpackage:libssl="libressl-rng-ssl-$(LIBSSL_VERSION)" \
	-Vpackage:libtls="libressl-rng-tls-$(LIBTLS_VERSION)"

%:
	dh $@ --with autoreconf --parallel

override_dh_auto_configure:
	dh_auto_configure -- --enable-libtls

override_dh_gencontrol:
	dh_gencontrol -- $(SUBSTVARS)

override_dh_strip:
	dh_strip -plibressl-rng-crypto-$(LIBCRYPTO_VERSION) --dbg-package=libressl-rng-crypto-dbg
	dh_strip -plibressl-rng-ssl-$(LIBSSL_VERSION) --dbg-package=libressl-rng-ssl-dbg
	dh_strip -plibressl-rng-tls-$(LIBTLS_VERSION) --dbg-package=libressl-rng-tls-dbg
	dh_strip -plibressl-rng-apps --dbg-package=libressl-rng-apps-dbg
	dh_strip --remaining-packages
